<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Inclusão de Pessoas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 align="center">
		Inclusão de Pessoas
	</h1>
	<!-- 
	Form input can be handled using the th:action=”@{url}” and th:object=”${object}” attributes. 
	
	The th:action is used to provide the form action URL 
	
	and th:object is used to specify an object to which the submitted form data will be bound. 
	
	Individual fields are mapped using the th:field=”*{name}” attribute, where the name is the 
	matching property of the object.
	 -->
	 
	<form action="#" th:action="@{/pessoa}" th:object="${person}" method="post" >
		<table border="1">			
			<tr>
				<td>
					CPF:
				</td>
				<td>
					<input type="text" th:field="*{cpf}">
				</td>
			</tr>
			
			
			
			<tr>
				<td>
					Nome:
				</td>
				<td>
					<input type="text" th:field="*{nome}">
				</td>
			</tr>
			<tr>
				<td>
					Data de nascimento:
				</td>
				<td>
					<input type="text" th:field="*{dataNascimento}">
				</td>
			</tr>
			<tr>
				<td>
					email:
				</td>
				<td>
					<input type="text" th:field="*{email}">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="Incluir">
				</td>
			</tr>
		
		</table>
	</form>
</body>
</html>